In [32]:
#load packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from collections import Counter
import os
from warnings import filterwarnings
filterwarnings('ignore')

from google.colab import files
uploaded = files.upload() # to upload our data

Saving Mental_health_data_finalll.xlsx to Mental_health_data_finalll (1).xlsx

In [33]:
# to read the file
df = pd.read_excel('Mental_health_data_finalll.xlsx')
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Disorder,Disorder_code
0,yes,yes,yes,no,yes,yes,yes,no,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,no,Depression,1
1,no,yes,yes,no,no,yes,yes,no,no,no,...,no,yes,no,no,yes,no,yes,yes,Anxiety,2
2,yes,no,no,no,yes,yes,no,no,no,yes,...,no,no,yes,no,yes,yes,no,no,Normal,0
3,yes,no,no,no,yes,yes,no,no,no,yes,...,no,no,yes,no,yes,yes,no,no,Normal,0
4,yes,yes,yes,yes,no,yes,yes,no,no,yes,...,yes,no,yes,yes,no,yes,no,yes,Depression,1

In [34]:
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import accuracy_score  
from sklearn.linear_model import LogisticRegression #importing logistic Regression model
from sklearn.svm import SVC #importing Sopport Vector Classificatin SVC
from sklearn.ensemble import RandomForestClassifier #importing  Random Forest

from random import shuffle

In [35]:
encoder = LabelEncoder()
list = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5','Q6', 'Q7', 'Q8', 'Q9', 'Q10','Q11', 'Q12', 'Q13', 'Q14', 'Q15','Q16', 'Q17', 'Q18', 'Q19', 'Q20']

for i in list:
  df[i] = encoder.fit_transform(df[i])

In [36]:
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Disorder,Disorder_code
0,1,1,1,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,0,Depression,1
1,0,1,1,0,0,1,1,0,0,0,...,0,1,0,0,1,0,1,1,Anxiety,2
2,1,0,0,0,1,1,0,0,0,1,...,0,0,1,0,1,1,0,0,Normal,0
3,1,0,0,0,1,1,0,0,0,1,...,0,0,1,0,1,1,0,0,Normal,0
4,1,1,1,1,0,1,1,0,0,1,...,1,0,1,1,0,1,0,1,Depression,1

In [37]:
X = df.drop([ 'Disorder','Disorder_code'], axis = 1)
Y = df['Disorder_code']

In [38]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.35)

In [39]:
from sklearn.svm import SVC #importing Sopport Vector Classificatin (SVC)
svm = SVC()
svm.fit(X_train, Y_train)

SVC()

In [40]:
print("SVM :")
print("Train Accuracy : {:.3f}%".format(svm.score(X_train, Y_train) * 100))
print("test Accuracy: {:.3f}%".format(svm.score(X_test, Y_test) * 100))

SVM :
Train Accuracy : 99.846%
test Accuracy: 89.459%

In [41]:
from sklearn.ensemble import RandomForestClassifier #importing random Forest
forest = RandomForestClassifier()
forest.fit(X_train, Y_train)

RandomForestClassifier()

In [42]:
print("Random Forest:")
print("Train Accuracy: {:.3f}%".format(forest.score(X_train, Y_train) * 100))
print("Test Accuracy: {:.3f}%".format(forest.score(X_test, Y_test) * 100))

Random Forest:
Train Accuracy: 100.000%
Test Accuracy: 78.063%

In [43]:
from sklearn.linear_model import LogisticRegression #importing logistic Regression model
logit = LogisticRegression() 
logit.fit(X_train, Y_train)

LogisticRegression()

In [44]:
print("Logistic Regression")
print("Train Accuracy: {:.3f}%".format(logit.score(X_train, Y_train) * 100))
print("Test Accuracy: {:.3f}%".format(logit.score(X_test, Y_test) * 100))

Logistic Regression
Train Accuracy: 98.154%
Test Accuracy: 96.866%

In [45]:

logit = LogisticRegression() 
logit.fit(X_train, Y_train)
p= logit.predict([[0,0,0,0,0,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0]])
p

array([0])

In [46]:
from sklearn.tree import DecisionTreeClassifier
dec_tree= DecisionTreeClassifier()
dec_tree.fit(X_train,Y_train)

DecisionTreeClassifier()

In [47]:
print(" Decision Tree")
print("Train Accuracy: {:.3f}%".format(dec_tree.score(X_train, Y_train) * 100))
print("Test Accuracy: {:.3f}%".format(dec_tree.score(X_test, Y_test) * 100))

 Decision Tree
Train Accuracy: 100.000%
Test Accuracy: 70.940%

In [20]:
# now we can make predictions on the test set, here are some examples

In [48]:
from google.colab import files
uploaded = files.upload() # to upload our data

Saving results-survey376458 (10).csv to results-survey376458 (10) (2).csv

In [49]:
# to read the file
df2 = pd.read_csv('results-survey376458 (10).csv')
df2.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20
0,Yes,Yes,Yes,No,No,Yes,Yes,No,No,No,Yes,Yes,No,Yes,No,No,No,Yes,Yes,Yes
1,No,No,No,Yes,Yes,No,No,Yes,Yes,Yes,No,No,Yes,No,Yes,Yes,Yes,No,No,No
2,No,Yes,No,Yes,Yes,No,Yes,No,No,Yes,Yes,No,Yes,No,No,Yes,Yes,No,No,No
3,Yes,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,No,No
4,No,No,Yes,Yes,Yes,No,Yes,No,No,No,No,Yes,No,Yes,No,Yes,No,No,No,Yes

In [50]:
encoder = LabelEncoder()
list = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5','Q6', 'Q7', 'Q8', 'Q9', 'Q10','Q11', 'Q12', 'Q13', 'Q14', 'Q15','Q16', 'Q17', 'Q18', 'Q19', 'Q20']

for i in list:
  df2[i] = encoder.fit_transform(df2[i])

In [51]:
df2.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20
0,1,1,1,0,0,1,1,0,0,0,1,1,0,1,0,0,0,1,1,1
1,0,0,0,1,1,0,0,1,1,1,0,0,1,0,1,1,1,0,0,0
2,0,1,0,1,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,0
3,1,1,0,0,1,1,1,1,1,1,0,1,1,1,0,1,1,1,0,0
4,0,0,1,1,1,0,1,0,0,0,0,1,0,1,0,1,0,0,0,1

In [52]:
from sklearn.linear_model import LogisticRegression #importing logistic Regression model
logit = LogisticRegression() 
logit.fit(X_train, Y_train)
pred=logit.predict(X_test)

In [53]:

def Disorder(i):
    if i==0:
         return "Anxiety"
    elif i==1:
            return "Depression"
    elif i==2:
            return "Normal"

In [54]:
logit = LogisticRegression() 
logit.fit(X_train, Y_train)
for index, row in df2.iterrows():
    p3= logit.predict([row])
    print('Row No:'+str(index),Disorder(p3))

Row No:0 Normal
Row No:1 Normal
Row No:2 Normal
Row No:3 Depression
Row No:4 Normal
Row No:5 Normal